<div class="modal explore" data-modal="1">
  <button class="modal-cross js-modal-close" data-modal="1">
    <svg class="cross" width="24" height="24">
      <use href="/img/sprite.svg#icon-close-modal24"></use>
    </svg>
  </button>
  <picture>
    <source
      media="(min-width: 1200px)"
      srcset="
        /img/modal-subscribe/chocolate-md@1x.jpg 1x,
        /img/modal-subscribe/chocolate-md@2x.jpg 2x
      "
      type="image/jpeg"
    />
    <source
      media="(min-width: 768px)"
      srcset="
        /img/modal-subscribe/chocolate-md@1x.jpg 1x,
        /img/modal-subscribe/chocolate-md@2x.jpg 2x
      "
      type="image/jpeg"
    />
    <source
      media="(max-width: 767px)"
      srcset="
        /img/modal-subscribe/chocolate-sm@1x.jpg 1x,
        /img/modal-subscribe/chocolate-sm@2x.jpg 2x
      "
    />

    <img
      class="explore-modal-img"
      src="/img/modal-subscribe/chocolate-sm@1x.jpg"
      alt="chocolate"
       width="538"
        height="196"
        loading="lazy"
    />
  </picture>
  <div class="subscribe-info">
    <h2 class="section-title sub-modal-title">
      Explore our <br />
      <span class="section-title-accent">new chocolate</span> first!
    </h2>

    <div class="subscribe-wrap">
      <form class="subscribe-form">
        <label class="subscribe-label">
          <input
            class="subscribe-mail"
            type="email"
            name="mail"
            required
            placeholder="Enter your email"
          />
        </label>
        <button type="submit" class="btn subscribe-modal-btn">Submit</button>
      </form>
    </div>
  </div>
</div>
