
<section class="hero">
  <div class="container hero-container">
    <div class="hero-contant">
      <h1 class="visually-hidden">Simply Chocolate</h1>
      <p class="hero-descrip">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </p>
      <div class="hero-buttons">
        <div class="hero-main-buttons">
          <button class="hero-btn">Buy now</button>
          <a href="#how-its-made" class="hero-btn hero-how-it">How it's made</a>
        </div>
        <a href="#footer" class="hero-scroll"
          >scroll down
          <span class="scroll-wrap"
            ><svg width="16" height="16" class="scroll-icon">
              <use href="./img/sprite.svg#icon-scroll-down22"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
