<section class="leave-a-review">
    <div class="overlay-leave-a-review js-overlay-modal">
        <div class="modal-leave-a-review" data-modal="3">
            <button type="button" class="modal-close-leave-a-review-btn"><svg class="modal-close-icon-leave-a-review js-modal-close"  width="24" height="24">
                <use href="../img/sprite.svg#icon-close-modal24"></use>
            </svg></button>
            <div class="modal-form-wrap-leave-a-review">
                <p class="modal-form-leave-a-review-title">leave a review 
                    about our chocolate</p>
                    <form class="modal-form-leave-a-review">
                        <label class="modal-form-leave-a-review-field" >
                             
                            <input class="modal-form-leave-a-review-input" 
                            required
                            name="user_name"
                            type="text">
                        </label>
                        <label class="modal-form-leave-a-review-field" >
                           
                           <input class="modal-form-leave-a-review-input" 
                           required
                           name="user-mail"
                           type="text">
                       </label>
                       <label class="modal-form-leave-a-review-field" >
                       
                       <input class="modal-form-leave-a-review-input" 
                       required
                       name="user-phone"
                       type="tel">
                   </label>
                   <label class="modal-form-leave-a-review-field" >
                   <textarea
                   name="" 
                   id="" 
                   placeholder="Enter text"></textarea>
               </label>
               <button class="modal-form-leave-a-review" type="submit">Send</button>
                    </form>
            </div>
        </div>
    </div>

</section>






