<section class="section top-sellers" id="top-sellers">
    <div class="top-sellers-container container">
      <h2 id="top" class="section-title top-sellers-title title">
        <span class="top-sellers-title-span">TOP </span>SELLERS
      </h2>
      <ul class="top-sellers-list list">
        <li class="top-sellers-item">
          <div class="top-sellers-card">
            <picture>
              <source
              srcset="/img/top-sellers/coffeeand-mobile-1x.jpg
              1x, /img/top-sellers/coffeeand-mobile-2x.jpg 2x"
              media="(max-width: 767px)"/>
              <source
              srcset="/img/top-sellers/coffeeand-tablet-1x.jpg
              1x, /img/top-sellers/coffeeand-tablet-2x.jpg 2x"
              media="(max-width: 1199px)" />
              <source
              srcset="/img/top-sellers/coffeeand-desktop-1x.jpg
              1x, /img/top-sellers/coffeeand-desktop-2x.jpg 2x"
              media="(min-width: 1200px)" />

              <img
                class="top-sellers-pic"
                src="/img/top-sellers/coffeeand-desktop-1x.jpg"
                alt="chocolate with coffee and nuts"
              />
            </picture>
            <p class="top-sellers-text-one">
              Crazy enough chocolate originates from a bean just like the coffee
              bean called Cacao. Cacao has been around for thousands of years and
              was first discovered by the Native American tribe called the Mayans.
            </p>
          </div>
        </li>
        <li class="top-sellers-item">
          <picture>
            <source
            srcset="/img/top-sellers/raisinand-mobile-1x.jpg 1x,
            /img/top-sellers/raisinand-mobile-2x.jpg 2x"
            media="(max-width: 767px)" />
            <source
            srcset="/img/top-sellers/raisinand-tablet-1x.jpg 1x,
            /img/top-sellers/raisinand-tablet-2x.jpg 2x"
            media="(max-width: 1199px)"  />
            <source
            srcset="/img/top-sellers/raisinand-desktop-1x.jpg
            1x, /img/top-sellers/raisinand-desktop-2x.jpg 2x"
            media="(min-width: 1200px)"  />

            <img
              class="top-sellers-pic"
              src="/img/top-sellers/raisinand-desktop-1x.jpg"
              alt="chocolate with raisin and mint"
            />
          </picture>
        </li>
        <li class="top-sellers-item third-foto">
          <picture>
            <source
            srcset="/img/top-sellers/chocolate-1x.jpg 1x,
            /img/top-sellers/chocolate-2x.jpg 2x" media="(min-width:
            1200px)"  />

            <img
              class="top-sellers-pic"
              src="/img/top-sellers/chocolate-1x.jpg"
              alt="heap of chocolate"
            />
          </picture>
        </li>
      </ul>
      <div class="top-sellers-div">
        <p class="top-sellers-text-two">
          Crazy enough chocolate originates from a bean just like the coffee bean
          called Cacao. Cacao has been around for thousands of years and was first
          discovered by the Native American tribe called the Mayans.
        </p>
        <button type="button" class="btn js-open-modal" data-modal="4">
          Pay now
        </button>
      </div>
    </div>
    <!-- modal-form -->
    <div class="modal pay-now" data-modal="4">
      <button
        type="button"
        class="modal-close-pay-now-btn js-modal-close"
        data-modal="4"
      >
      <svg class="modal-close-icon-pay-now" width="24" height="24">
        <use href="/img/sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>
    <p class="modal-form-pay-now-title section-title">PAY<span class="pay-now-span ">NOW</span> </p>
    <ul class="pay-now-type-list">
      <li class="pay-now-type-item"> <a href="#"><svg class="pay-now-icon" width="24" height="24">
        <use href="../img/sprite.svg#icon-apple-pay"></use>
      </svg></a></li>
      <li class="pay-now-type-item"><a href="#"><svg class="pay-now-icon" width="24" height="24">
        <use href="../img/sprite.svg#icon-google-pay"></use>
      </svg></a></li>
      <li class="pay-now-type-item"><a href="#"><svg class="pay-now-icon" width="24" height="24">
        <use href="../img/sprite.svg#icon-paypal"></use>
      </svg></a></li>
    </ul>
    <button type="button" class="pay-now-first-btn btn"> Pay now</button>
    <p class="pay-now-subtitle"> Or pay with card</p>
    <div class="modal-form-wrap-pay-now">
      <form class="modal-form-pay-now">
        <span class="modal-form-pay-now-span">Enter your email</span>
       <label class="modal-form-pay-now-field">
        <input 
        class="modal-form-pay-now-input"
        type="text"
        name="user_mail"
        required>
       </label>
       <span class="modal-form-pay-now-span">Payment card</span>
       <label class="modal-form-pay-now-field">
        <input 
        class="modal-form-pay-now-input"
        type="tel"
        name="user_card_number"
        required
        minlength="16"
        maxlength="16"
        pattern="[0-9]{4} [0-9]{4} [0-9]{4} [0-9]{4}"
        title="1234 1234 1234 1234"
        placeholder="1234 1234 1234 1234">
       </label>
       <div class="modal-form-input-card-wrap">
       <label class="modal-form-pay-now-field">
        <input 
        class="modal-form-pay-now-input"
        type="tel"
        name="user_card_number_action"
        required
        minlength="4"
        maxlength="4"
        pattern="[0-9]{2}/[0-9]{2}"
        title="MM/YY"
        placeholder="MM/YY">
       </label>
       <label class="modal-form-pay-now-field">
        <input 
        class="modal-form-pay-now-input"
        type="tel"
        name="user_card_cvc"
        required
        minlength="3"
        maxlength="3"
        pattern="[0-9]{3}"
        title="123"
        placeholder="CVC">
       </label>
       </div>
       <span class="modal-form-pay-now-span">Card name</span>
       <label class="modal-form-pay-now-field">
        <input 
        class="modal-form-pay-now-input"
        type="text"
        name="user_card_name"
        required
        minlength="3"
        pattern="^[a-zA-Zа-яА-Я]+">
       </label>
       <span class="modal-form-pay-now-span">Country or rigion</span>
  
      </form>
      <select class="modal-form-pay-now-check" name="country" id="">
        <option class="modal-form-pay-now-choose" value="Ukr">Ukraine</option>
        <option value="Pl">Poland</option>
        <option value="Grm">Germany</option>
      </select>
      <button type="button" class="pay-now-second-btn btn">Pay now</button>
    </div>
    <div class="modal-form-pay-now-product">
      <ul class="modal-form-pay-now-list">
        <li class="modal-form-pay-now-list"></li>
        <li class="modal-form-pay-now-list"></li>
        <li class="modal-form-pay-now-list"></li>
      </ul>
    </div>
  </div>
</section>
