.modal.buynow {
  width: 95%;
  max-width: 311px;
  height: 95%;
  max-height: 500px;
  overflow: scroll;
  padding: 32px 24px;
}
.modal-close-buynow-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border-radius: 50%;
  border-color: transparent;
  padding: 0;
  transition: background-color var(--time-function);
}
.modal-close-buynow-btn:hover,
.modal-close-buynow-btn:focus {
  background-color: var(--main-hover-color);
}
.modal-close-buynow-btn:hover .modal-close-icon-buynow,
.modal-close-buynow-btn:focus .modal-close-icon-buynow {
  fill: var(--main-accent-color);
}

.modal-close-icon-buynow {
  transition: fill var(--time-function);
}
.modal-title.section-title {
  margin-bottom: 32px;

  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;

  color: var(--main-accent-color);
}
.modal-title-span {
  color: var(--primary-color);
}
.modal-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.modal-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 263px;
  height: 85px;

  background: var(--white-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
.modal-item:not(:last-child) {
  margin-bottom: 8px;
}
.modal-picture {
  margin-right: 93px;
}
.modal-item-text {
  display: block;
  position: relative;
  width: 70px;
  height: 29px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--primary-color);

  background: var(--products-btn-bg);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
}
.modal-input-check {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 29px;
  opacity: 0;
  border-radius: 100px;
  cursor: pointer;
  pointer-events: none;
}
.modal-item-text .modal-input-span {
  width: 100%;
  height: 100%;
  padding: 6px 16px;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  transition: 0.5s ease;
}
input[type='checkbox']:checked ~ .modal-input-span {
  background-color: var(--main-hover-color);
  color: var(--main-accent-color);
  border: transparent;
  outline: none;

}



.modal-form-buynow-field {
  display: block;
  margin-bottom: 14px;
}
.modal-form-buynow-input {
  padding: 14px 18px;
  width: 100%;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0 5.44px 5.44px #00000008;
  background-color: var(--white-color);
  transition: border-color var(--time-function);
}
.label-desc {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #000000;
}
.modal-form-buynow-input::placeholder,
.modal-form-buynow-message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--placeholder-color);
}
.input-buy-phone {
  padding-left: 106px;
}
.modal-form-phone-buy-wrapper {
  display: block;
  position: relative;
}
.flag-buy-phone {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}
.modal-form-buy-input-tel-text {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
}
.modal-form-buy-input-tel-text::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -5px;
  right: -8px;
  width: 1px;
  height: 25px;
  background-color: var(--placeholder-color);
}
.icon-card {
  position: absolute;
  top: 10px;
  right: 15px;
}
.modal-form-buynow-message {
  display: block;
  padding: 14px 18px;
  width: 100%;
  resize: none;
  height: 91px;
  border-radius: 8px;
  box-shadow: 0 5.44px 5.44px #00000008;
  border: 1.5px solid rgba(17, 17, 17, 0.1);
  transition: border-color var(--time-function);
}

.modal-form-phone-wraper.buy {
  position: absolute;
  top: 32px;
  left: 24px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  color: rgba(0, 0, 0, 1);
}
@media screen and (min-width: 768px) {
  .modal.buynow {
    max-width: 609px;
    max-height: 650px;
  }
  /* .modal-form-leave-a-review-title-wrap.buy {
    width: 100%;
  } */
  .modal-title.section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
  }

  /* .modal-buynow-list {
    display: flex;
    flex-direction: column;
  } */
  .modal-item {
    display: block;
    padding: 18px 20px;
    width: 160px;
    height: 196px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal-picture {
    margin-right: 14px;
  }
  .modal-item-text {
    display: block;
    padding: 8px 29px;
    width: 96px;
    height: 33px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
  }
  .modal-form-leave-a-review.buy {
    margin-top: 40px;
  }
  .label-desc {
    font-size: 14px;
    line-height: 1.29;
  }
  .modal-form-leave-a-review-input.buynow {
    width: 48%;
  }
  .modal-form-leave-a-review-input.buynow:not(:last-child) {
    margin-right: 19px;
  }
  .modal-form-leave-a-review-input.buy::placeholder,
  .modal-form-leave-a-review-input.buynow::placeholder,
  .modal-form-leave-a-review-message.buy::placeholder {
    font-size: 18px;
  }
  .modal-form-phone-wraper.buy {
    top: 47px;
  }
  .icon-card {
    position: absolute;
    bottom: 43px;
    right: 25px;
    width: 30px;
    height: 18px;
  }
  .modal-form-leave-a-review.btn.buy {
    padding: 14px 40px;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .modal.buynow {
    max-width: 609px;
    max-height: 1058px;
    padding: 48px;
    overflow: auto;
  }
  .modal-form-leave-a-review-input.buynow:not(:last-child) {
    margin-right: 15px;
  }
}
