/* Explore-Our-News Modal Window */
.modal {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-width: 311px;
  min-height: 350px;
  border-radius: 15px;
  background-color: var(--body-bg-color);
  box-shadow: var(--modal-shadow);
  transform: translate(-50%, -50%) scale(0.75);
  transition: transform var(--time-function);
}
@media screen and (min-width: 768px) {
  .modal {
    min-width: 538px;
    min-height: 412px;
  }
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-cross {
  position: absolute;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  fill: var(--white-color);
  background-color: transparent;
  transition: color var(--time-function), background-color var(--time-function);
}

.modal-cross:hover,
.modal-cross:focus {
  fill: var(--main-accent-color);
}

.subscribe-img {
  margin-bottom: 32px;
}
.sub-modal-title {
  margin-bottom: 24px;
  text-align: left;
}
.subscribe-info {
  padding: 32px 24px;
}
.subscribe-mail {
  padding: 14px 18px;
  width: 100%;
  min-height: 45px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 25px;
  line-height: 1.21;
  box-shadow: 0 5.44px 5.44px #00000008;
  transition: border-color var(--time-function);
}
.subscribe-modal-btn {
  min-height: 45px;
  top: 89%;
  left: 88%;
  transform: translate(-89%, -88%) scale(1);
  position: absolute;

  transition: transform var(--time-function);
}
