/* Explore-Our-News Modal Window */
.modal {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 50%;
  left: 50%;

  border-radius: 15px;
  z-index: 30;
  background-color: var(--body-bg-color);
  box-shadow: var(--modal-shadow);
  transform: translate(-50%, -50%) scale(0.75);
  transition: transform var(--time-function);
}
.modal.explore {
  min-width: 311px;
  height: 350px;
}

@media screen and (min-width: 768px) {
  .modal.explore {
    min-width: 538px;
    min-height: 412px;
  }
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.explore-modal-img {
  min-width: 311px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@media screen and (min-width: 768px) {
  .explore-modal-img {
    min-width: 538px;
  }
}

.modal-cross {
  position: absolute;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  fill: var(--white-color);
  background-color: transparent;
  transition: color var(--time-function), background-color var(--time-function);
}

.modal-cross:hover,
.modal-cross:focus {
  fill: var(--main-accent-color);
}

.subscribe-img {
  margin-bottom: 32px;
}
.section-title.sub-modal-title {
  margin-bottom: 24px;
  text-align: left;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .section-title.sub-modal-title.section-title-accent {
    margin-bottom: 28px;
    font-size: 24px;
  }
}

.subscribe-info {
  padding: 32px 24px;
}
.subscribe-wrap {
  position: relative;
}
.subscribe-mail {
  padding: 14px 18px;
  width: 100%;
  min-height: 45px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 25px;
  line-height: 1.21;
  box-shadow: 0 5.44px 5.44px #00000008;
  transition: border-color var(--time-function);
}
@media screen and (max-width: 374px) {
}

.subscribe-modal-btn {
  min-height: 45px;
  top: 89%;
  left: 99%;
  transform: translate(-99%, -89%) scale(1);
  position: absolute;

  transition: transform var(--time-function);
}
