/* Explore-Our-News Modal Window */
.modal {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  max-width: 311px;
  min-height: 350px;
  /* padding: 72px 24px 24px; */
  border-radius: 15px;
  background-color: var(--body-bg-color);
  box-shadow: var(--modal-shadow);
  transform: translate(-50%, -50%) scale(0.75);
  transition: transform var(--time-function);
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-cross {
  position: absolute;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  fill: var(--white-color);
  background-color: transparent;
  transition: color var(--time-function), background-color var(--time-function);
}

.modal-cross:hover,
.modal-cross:focus {
  fill: var(--main-accent-color);
}

.subscribe-img {
  margin-bottom: 32px;
}
.sub-modal-title {
  margin-bottom: 24px;
  text-align: left;
}
/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

/* a {
   padding: 20px;
   display: inline-block;
   text-decoration: none;
   background-color: #414b52;
   margin: 10px;
   color: #fff;
   border-radius: 3px;
} */
