/* Leave-A-Review Modal Window */

.modal {
  opacity: 0;
  visibility: hidden;

  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  background-color: var(--body-bg-color);
  box-shadow: var(--modal-shadow);
  transition: transform var(--time-function);
}
.modal.review {
  min-width: 311px;
  min-height: 471px;
  padding: 32px 24px;
}
@media screen and (min-width: 768px) {
  .modal.review {
    min-width: 517px;
    min-height: 631px;
  }
}
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal-close-leave-a-review-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border-radius: 50%;
  border-color: transparent;
  padding: 0;
  transition: background-color var(--time-function);
}
.modal-close-icon-leave-a-review {
  transition: fill var(--time-function);
}
.modal-close-leave-a-review-btn:hover,
.modal-close-leave-a-review-btn:focus {
  background-color: #fcf1e0;
}
.modal-close-leave-a-review-btn:hover .modal-close-icon-leave-a-review:hover,
.modal-close-leave-a-review-btn:focus .modal-close-icon-leave-a-review:focus {
  fill: var(--main-accent-color);
}
/*    MODAL FORM */
.modal-form-leave-a-review {
  display: block;
}

.modal-form-leave-a-review-title.section-title {
  text-align: left;
  margin-bottom: 32px;
}
.modal-leave-a-review-span {
  color: var(--main-accent-color);
}
.modal-form-leave-a-review-input {
  color: var(--primary-color);
  padding-left: 18px;
  width: 100%;
  border-radius: 8px;
  border: 1.5px solid rgba(0, 0, 0, 0.03);
  background-color: var(--white-color);
  transition: border-color var(--time-function);
}

.modal-form-phone-wraper {
  position: absolute;
  top: 10px;
  left: 24px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  color: rgba(0, 0, 0, 1);
}
.modal-form-phone-wraper::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 30px;
  top: -1px;
  left: 90px;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 8px;
}

.flag-phone {
  margin-right: 18px;
}
.input-phone {
  padding-left: 130px;
}

.modal-icon-leave-a-review-wrap {
  position: relative;
}
.modal-form-leave-a-review-input:focus {
  border-color: var(--main-accent-color);
  outline: none;
}
.modal-form-leave-a-review-message {
  margin-bottom: 18px;
  padding: 14px 18px;
  width: 100%;
  resize: none;
  height: 91px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  transition: border-color var(--time-function);
}
.modal-form-leave-a-review-message:focus {
  border-color: var(--main-accent-color);
  outline: none;
}
.modal-form-leave-a-review-input::placeholder {
  
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.modal-form-leave-a-review-message::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 767px) {
  .modal-form-leave-a-review-title.section-title {
    font-size: 20px;
    margin-top: 7px;
  }
  .modal-form-leave-a-review-title-wrap {
    width: 255px;
  }
  .modal-form-leave-a-review-input {
    height: 45px;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 768px) {
  .modal-form-phone-wraper {
   
    top: 20px;
    
  }
  .modal-leave-a-review {
    width: 517px;
    height: 631px;
  }
  .modal-form-leave-a-review-title.section-title {
    margin-bottom: 40px;
  }
  .modal-form-leave-a-review-title-wrap {
    width: 298px;
  }
  .modal-form-leave-a-review-input {
    height: 66px;
    margin-bottom: 19px;
  }
  .modal-form-leave-a-review-message {
    height: 137px;
  }
  .modal-form-leave-a-review-icon {
    top: 20px;
  }
}
