/*    MODAL FORM */
 .modal {
  opacity: 0;
  visibility: hidden;

  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  background-color: var(--body-bg-color);
  box-shadow: var(--modal-shadow);
  transition: transform var(--time-function);
}
.modal.pay-now {
  min-width: 311px;
  min-height: 471px;
  padding: 32px 24px;
}
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal-close-pay-now-btn {
  position: absolute;
  top: 14px;
  left: 10px;
  background-color: transparent;
  border-radius: 50%;
  border-color: transparent;
  padding: 0;
  fill: black;
  transition: background-color var(--time-function);
}
.modal-close-icon-pay-now {
  transition: fill var(--time-function);
}
.modal-close-pay-now-btn:hover,
.modal-close-pay-now-btn:focus {
  background-color: #fcf1e0;
}
.modal-close-pay-now-btn:hover .modal-close-icon-pay-now:hover,
.modal-close-pay-now-btn:focus .modal-close-icon-pay-now:focus {
  fill: var(--main-accent-color);
}
.modal-form-pay-now-title{
  margin-bottom: 18px;
}
.pay-now-span{
  color: var(--main-accent-color);
}
.pay-now-type-list{
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

}
.pay-now-first-btn{
  margin-bottom: 18px;
  position: relative;
}
.pay-now-subtitle{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 18px;
}
.pay-now-subtitle:before{
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--main-accent-color);
  top: 200px;
  left: 25px;
}
.pay-now-subtitle::after{
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--main-accent-color);
  top: 200px;
 right: 25px;
}
.modal-form-pay-now-span{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  margin-bottom: 4px;
}
.modal-form-pay-now-input{
  margin-bottom: 14px;
  height: 45px;
  width: 100%;
  color: var(--primary-color);
  padding-left: 18px;
  width: 100%;
  border-radius: 8px;
  border: 1.5px solid rgba(0, 0, 0, 0.03);
  background-color: var(--white-color);
  transition: border-color var(--time-function);
}
.modal-form-input-card-wrap{
  display: flex;
  gap: 0;
}
.modal-form-pay-now-input:focus {
  border-color: var(--main-accent-color);
  outline: none;
}
.modal-form-pay-now-icon-cvc-wrap{
  position: absolute;
  left: 250px;
  bottom: 485px;
}
.modal-form-pay-now-icon-card-wrap{
  position: absolute;
  left: 250px;
  bottom: 545px;
}
.modal-form-pay-now-check{
  width: 100%;
  display: block;
  height: 45px;
  margin-bottom: 18px;
  border: 1px solid var(--white-color);

}
.pay-now-second-btn{
  margin-bottom: 18px;
}
.modal-form-pay-now-product-right{
  background-color: var(--main-hover-color);
  width: 100%;
  height: 100%;
}
/* .modal-list-pay-now{
  display: flex;
  justify-content: center;
  align-items: center;
  
} */
.modal-form-pay-now-product{
  min-width: 311px;
 height: 100%;
}
.modal-picture-pay-now{
margin-bottom: 8px;
}
.modal-form-pay-now-product-wrap{
width: 160px;
margin: 0 auto;
padding-top: 18px;
padding-bottom: 18px;
}
.modal-form-pay-now-price-title{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}
.modal-form-pay-now-price-item{
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--main-accent-color);
  margin-bottom: 8px;
}
.modal-form-pay-now-weight{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
 margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .pay-now-subtitle:before{
   left: 380px;
    width: 100px;
    
  }
  .pay-now-subtitle::after{
    
    width: 100px;
    ;
  }
  .modal-form-pay-now-icon-card-wrap{
   
    left: 690px;
    bottom: 330px;
  }
  .modal-form-pay-now-field-card-date{
    width: 50%;
  }
  .modal-form-pay-now-field-card-cvc{
    width: 50%;
  }
  .modal-form-pay-now-icon-cvc-wrap{
   
    left: 690px;
    bottom: 270px;
  }
  .pay-now{
   display: flex;
   justify-content: center;
   align-items: center;
flex-direction: row-reverse;
  }
  .modal.pay-now {
    min-width: 750px;
    min-height: 471px;
    
  }
  .modal-form-pay-now-left{
    width: 50%;
  }
  .modal-form-pay-now-product-right{
    width: 50%;

  }

}
@media screen and (min-width: 1200px) {
  .modal.pay-now {
    min-width: 1000px;
    min-height: 671px;
    
  }
  .modal-form-pay-now-icon-card-wrap{
    left: 900px;
  }
  .modal-form-pay-now-icon-cvc-wrap{
    left: 900px;
  }
  .pay-now-subtitle:before{
    left: 550px;
  }
  .pay-now-subtitle::after{
    right: 60px;
  }
}