/*    MODAL FORM */
.modal.pay-now {
  width: 311px;
  padding: 32px 24px;
  height: 515px;
  overflow: scroll;
}

.modal-close-pay-now-btn {
  position: absolute;
  top: 14px;
  left: 10px;
  background-color: transparent;
  border-radius: 50%;
  border-color: transparent;
  padding: 0;
  fill: var(--secondary-color);
  transition: background-color var(--time-function);
}
.modal-close-icon-pay-now {
  transition: fill var(--time-function);
}
.modal-close-pay-now-btn:hover,
.modal-close-pay-now-btn:focus {
  background-color: var(--main-hover-color);
}
.modal-close-pay-now-btn:hover .modal-close-icon-pay-now:hover,
.modal-close-pay-now-btn:focus .modal-close-icon-pay-now:focus {
  fill: var(--main-accent-color);
}
.modal-form-pay-now-title {
  margin-bottom: 18px;
}
.pay-now-span {
  color: var(--main-accent-color);
}
.pay-now-type-list {
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.pay-now-first-btn {
  margin-bottom: 18px;
  position: relative;
}
.pay-now-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 18px;
}
.pay-now-subtitle:before {
  position: absolute;
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--main-accent-color);
  top: 200px;
  left: 25px;
}
.pay-now-subtitle::after {
  position: absolute;
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--main-accent-color);
  top: 200px;
  right: 25px;
}
.modal-form-pay-now-field {
  display: block;
  margin-bottom: 14px;
}
.modal-form-pay-now-span {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  margin-bottom: 4px;
}
.modal-form-pay-now-input {
  width: 100%;
  padding: 14px 18px;
  border-radius: 8px;
  border: 1.5px solid rgba(0, 0, 0, 0.03);
  background-color: var(--white-color);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
  transition: border-color var(--time-function);
}
.modal-form-pay-now-input::placeholder {
  color: var(--placeholder-color);
}

.modal-form-pay-now-input:focus {
  border-color: var(--main-accent-color);
  outline: none;
}
.modal-form-pay-now-icon-cvc-wrap {
  display: block;
  position: relative;
}
.modal-form-pay-now-cvc {
  position: absolute;
  top: 10px;
  left: 95px;
}
.modal-form-pay-now-icon-card-wrap {
  display: block;
  position: relative;
}
.modal-form-pay-now-card {
  position: absolute;
  top: 10px;
  right: 15px;
}
.modal-form-input-card-wrap {
  display: flex;
  gap: 2;
  margin-bottom: 14px;
}
.modal-form-pay-now-check {
  width: 100%;
  display: block;
  height: 45px;
  margin-bottom: 18px;
  border: 1px solid var(--white-color);
}
.modal-form-pay-now-check-item {
  font-size: 16px;
  line-height: 1.38;
  border: none;
   outline: none;
  border-radius: 2px;
}
.pay-now-second-btn {
  margin-bottom: 18px;
}
.modal-form-pay-now-product-right {
  background-color: var(--main-hover-color);
  width: 100%;
  height: 100%;
}
.modal-form-pay-now-product {
  min-width: 311px;
  height: 100%;
}
.modal-picture-pay-now {
  margin-bottom: 8px;
}
.modal-form-pay-now-product-wrap {
  width: 160px;
  margin: 0 auto;
  padding: 18px 15px;
}
.modal-form-pay-now-price-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}
.modal-form-pay-now-price-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--main-accent-color);
  margin-bottom: 8px;
}
.modal-form-pay-now-weight {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
  margin-top: 8px;
}
.pay-now-img {
  border-radius: 8px;
}
.modal-form-pay-now-check {
    border-radius: 8px;
}
.modal-form-pay-now-check:focus {
    border-color: var(--main-accent-color);
    outline: none;
    border-radius: 8px;
}
@media screen and (max-width: 767px) {
  .modal-form-pay-now-product-wrap-one {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .modal.pay-now {
    min-width: 750px;
    height: 612px;
    padding: 28px 20px;
    overflow: hidden;
  }
  .modal-form-pay-now-left {
    width: 50%;
    margin-left: 15px;
  }
  .modal-form-pay-now-product-right {
    width: 50%;
  }
  .modal-form-pay-now-product-wrap-one {
    margin: 0 auto;
    padding: 18px 15px;
  }
  .modal-form-pay-now-title.section-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .modal-close-pay-now-btn {
    top: 7px;
    left: 17px;
  }
  .pay-now-first-btn {
    margin-bottom: 10px;
  }
  .pay-now-second-btn {
    margin-bottom: 10px;
  }
  .pay-now-subtitle {
    margin-bottom: 10px;
  }
  .pay-now-subtitle:before {
    top: 122px;
    left: 380px;
    width: 100px;
  }
  .pay-now-subtitle::after {
    top: 122px;
    width: 100px;
  }
    .modal-form-pay-now-field-card-date {
    width: 50%;
  }
  .modal-form-pay-now-field-card-cvc {
    width: 50%;
  }
  .modal-form-pay-now-cvc {
    left: 135px
  }
  .pay-now {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }
  .modal-form-pay-now-product-wrap,
  .pay-now-type-list {
    display: none;
  }
  .modal-form-pay-now-price-title {
    font-size: 16px;
    line-height: 1.53;
  }

  .modal-form-pay-now-price-item {
    font-size: 20px;
    line-height: 1.8;
  }
  .modal-form-pay-now-weight {
    font-size: 16px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1200px) {
  .modal.pay-now {
    min-width: 1000px;
    height: 690px;
  }
  .pay-now-type-list {
    display: flex;
  }

  .pay-now-subtitle:before {
    top: 195px;
    left: 550px;
  }
  .pay-now-subtitle::after {
    top: 195px;
    right: 60px;
  }
  .pay-now-img {
    margin: 0 auto;
  }
  .modal-form-pay-now-price-title {
    font-size: 20px;
    line-height: 1.2;
  }
  .modal-form-pay-now-price-item {
    font: 36px;
    line-height: 1.2;
  }
  .modal-form-pay-now-product-wrap-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
  }
  .modal-form-pay-now-title.section-title {
    margin-bottom: 15px;
    font-size: 26px;
  }
  .pay-now-type-list {
    margin-bottom: 15px;
  }
  .pay-now-first-btn {
    margin-bottom: 12px;
  }
  .modal-form-pay-now-weight {
    font-size: 18px;
    line-height: 1.2;
  }
  .pay-now-subtitle {
    font-size: 16px;
    line-height: 1.33;
  }
  .modal-form-pay-now-span {
    font-size: 16px;
    line-height: 1.4;
  }
  .modal-form-pay-now-cvc {
    left: 195px;
  }
  .modal-form-pay-now-cvc {
    font-size: 16px;
    line-height: 1.38;
  }
}
